<launch>
  <!-- Launch the turtlebot9 -->
  <include file="$(find turtlebot9_bringup)/launch/tb9_minimal.launch">
  </include>

  <!-- Launch the HOKUYO -->
  <include file="$(find turtlebot9_bringup)/launch/hokuyo.launch">
  </include>


  <!-- Launch the navigation -->
  <include file="$(find turtlebot9_navigation)/launch/tb_nav.launch">
    <arg name="map" value="roboworks.yaml" />
  </include>


  <!-- Launch the rviz 
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find trcp_rviz_launchers)/rviz/gmapping.rviz"/>
-->

</launch>
